registry="https://registry.npmjs.org/"
strict-peer-dependencies=false
side-effects-cache=false
public-hoist-pattern[]='@docusaurus/*'
public-hoist-pattern[]=@mdx-js/react
public-hoist-pattern[]=@docusaurus/theme-common*