.header {
  position: fixed;
  width: 100%;
  z-index: 101;
  max-width: 100%;
  box-shadow: 0 2px 8px var(--c-header-box);
  top: 0;
  left: 0;
  right: 0;
}

.row {
  display: flex;
  min-width: 0;
  flex-flow: nowrap;
  height: 64px;
}

.col5 {
  flex: 0 0 20.83333333%;
  max-width: 20.83333333%;
}

.col19 {
  flex: 0 0 79.16666667%;
  max-width: 79.16666667%;
  display: flex;
  justify-content: space-between;
}

.logoTitle {
  margin: 0 !important;
  border :0 !important;
}

.logo {
  height: 64px;
  padding-left: 40px;
  overflow: hidden;
  color: var(--c-text) !important;
  font-weight: 700;
  font-size: 20px;
  font-family: PuHuiTi, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, apple color emoji,
    segoe ui emoji, Segoe UI Symbol, noto color emoji, sans-serif;
  line-height: 64px;
  letter-spacing: -0.18px;
  white-space: nowrap;
  text-decoration: none;
}

.logo img {
  height: 32px;
  margin-right: 12px;
  vertical-align: middle;
  border-style: none;
}

.routes {
  display: flex;
  align-items: center;
}

.route {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  color: var(--c-text);
  cursor: pointer;
  line-height: 30px;
  margin-right: 20px;
  border: none;
  position: relative;
  background-color: var(--color-canvas-default);
}

.line {
  width: 1px;
  height: 24px;
  background-color: var(--c-text);
  margin-right: 20px;
  transform: scaleX(0.5);
}

.search {
  width: 200px;
  margin-top: 12px;
}

.searchButton {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 0 10px 0 12px;
  background: var(--c-primary);
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.searchIcon {
  top: 1px;
  margin-right: 8px;
  width: 14px;
  height: 14px;
  color: var(--c-bg);
}

.searchIconPath {
  color: var(--c-bg);
}

.placeHolder {
  padding: 0 16px 0 0;
  font-size: 13px;
  font-weight: 500;
  color: var(--c-bg);
}

.buttonKeys {
  color: var(--c-bg);
  position: relative;
  height: 22px;
  width: 50px;
}

.buttonKeyLeft {
  height: 22px;
  line-height: 22px;
  font-weight: 500;
  width: 18px;
  color: var(--c-bg);
  position: absolute;
  top: 1px;
  left: 0;
}

.buttonKeyRight {
  height: 22px;
  line-height: 22px;
  font-weight: 500;
  width: 18px;
  color: var(--c-bg);
  position: absolute;
  left: 20px;
}

.metas {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.darkmode {
  display: inline-block;
  border: 0;
  background: 0 0;
  line-height: 20px;
  color: var(--c-header-dark);
  font-size: 15px;
  cursor: pointer;
  margin-right: 40px;
  position: relative;
  top: 2px;
}

.icon {
  line-height: 20px;
  color: var(--c-header-dark);
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  top: 2px;
}

.icon svg {
  height: 20px;
  width: 20px;
}

.dialog {
  position: fixed;
  left: 24%;
  top: 10%;
}

[cmdk-root] {
  max-width: 640px;
  width: 100%;
  background: var(--c-dialog-bg);
  border-radius: 8px;
  overflow: hidden;
  padding: 0;
  box-shadow: var(--cmdk-shadow);
}

[cmdk-input] {
  border: none;
  width: 100%;
  font-size: 18px;
  padding: 20px;
  outline: none;
  background: var(--bg);
  color: var(--gray12);
  border-bottom: 1px solid var(--gray6);
  border-radius: 0;
  caret-color: #6e5ed2;
  margin: 0;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, apple color emoji,
    segoe ui emoji, Segoe UI Symbol, noto color emoji, sans-serif;
}

[cmdk-input]::placeholder {
  color: var(--gray9);
}

[cmdk-item] {
  content-visibility: auto;
  cursor: pointer;
  height: 48px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 16px;
  color: var(--gray12);
  user-select: none;
  will-change: background, color;
  transition: all 150ms ease;
  transition-property: none;
  position: relative;
}

[cmdk-item]:active {
  background-color: var(--c-primary);
}

[cmdk-item][aria-selected="true"] {
  background: var(--c-dialog-select);
}

[cmdk-item][aria-selected="true"]::after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 123;
  width: 3px;
  height: 100%;
  background: #5f6ad2;
}

[cmdk-list] {
  height: min(300px, var(--cmdk-list-height));
  max-height: 400px;
  overflow: auto;
  overscroll-behavior: contain;
  transition: 100ms ease;
  transition-property: height;
}

[cmdk-empty] {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  white-space: pre-wrap;
  color: var(--gray11);
}

.searchMobile {
  display: none;
}

.mobileMenu {
  display: inline-block;
  border: 0;
  background: 0 0;
  line-height: 20px;
  color: var(--c-header-dark);
  font-size: 15px;
  cursor: pointer;
  margin-right: 16px;
  position: relative;
  top: 2px;
  display: none;
}

@media screen and (max-width: 950px) {
  .searchMobile {
    display: initial;
  }
  .search {
    display: none;
  }
  .col5 {
    flex: 0 0 50.83333333%;
    max-width: 50.83333333%;
  }

  .col19 {
    flex: 0 0 49.16666667%;
    max-width: 49.16666667%;
    display: flex;
    justify-content: flex-end;
  }

  [cmdk-root] {
    max-width: 100%;
  }

  .dialog {
    position: fixed;
    left: 0%;
    top: 10%;
  }
}

@media screen and (max-width: 640px) {
  .logo {
    padding-left: 0;
  }
  .routes {
    display: none;
  }
  .line {
    display: none;
  }
  .github {
    display: none;
  }
  .darkmode {
    display: none;
  }
  .mobileMenu {
    display: inline-block;
  }
}
