.header {
  position: fixed;
  width: 100%;
  z-index: 101;
  max-width: 100%;
  background: var(--c-bg);
  box-shadow: 0 2px 8px var(--c-header-box);
  top: 0;
  left: 0;
  right: 0;
}

.row {
  display: flex;
  min-width: 0;
  flex-flow: nowrap;
  height: 64px;
}

.col5 {
  flex: 0 0 20.83333333%;
  max-width: 20.83333333%;
}

.col19 {
  flex: 0 0 79.16666667%;
  max-width: 79.16666667%;
}

.logo {
  height: 64px;
  padding-left: 40px;
  overflow: hidden;
  color: var(--c-text);
  font-weight: 700;
  font-size: 18px;
  font-family: PuHuiTi, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, apple color emoji,
    segoe ui emoji, Segoe UI Symbol, noto color emoji, sans-serif;
  line-height: 64px;
  letter-spacing: -0.18px;
  white-space: nowrap;
  text-decoration: none;
}

.logo img {
  height: 32px;
  margin-right: 12px;
  vertical-align: middle;
  border-style: none;
}

.metas {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.darkmode {
  display: inline-block;
  border: 0;
  background: 0 0;
  line-height: 20px;
  color: var(--c-header-dark);
  font-size: 15px;
  cursor: pointer;
  margin-right: 40px;
}

.icon {
  line-height: 20px;
  color: var(--c-header-dark);
  font-size: 15px;
  margin-right: 10px;
}

.icon svg {
  height: 20px;
  width: 20px;
}
