* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, apple color emoji,
    segoe ui emoji, Segoe UI Symbol, noto color emoji, sans-serif;
  background-color: var(--c-bg);
}

pre code {
  font-family: Lucida Console, Consolas, Monaco, Andale Mono, Ubuntu Mono,
    monospace;
}

:root {
  --c-bg: #ffffff;
  --c-header-box: #f0f1f2;
  --c-text: #000000d9;
  --c-header-dark: #6e7173;
  --c-menu-title: #00000073;
  --c-menu-under: rgba(0, 0, 0, 0.06);
  --c-menu-select: #e6f7ff;
  --c-primary: #1890ff;
  --c-primary-shadow: #3498db;
  --c-box-shadow: rgb(0 0 0 / 10%);
  --c-hj-c: #2f3337;
  --c-hj-b: #f6f6f6;
  --c-p-code: #f2f4f5;
  --c-p-code-b: rgba(0, 0, 0, 0.06);
  --c-button-bg: rgb(239, 239, 239);
  --c-button-border: #d9d9d9;
  --c-sidebar-b: rgba(0, 0, 0, 0.06);
  --c-input: rgba(0, 0, 0, 0.87);
  --c-input-border: rgba(34, 36, 38, 0.15);
  --c-input-border-focus: #85b7d9;
  --var-copy: url("../src/assets/copy.png");
  --c-warning: #e7c000;
  --c-warning-bg: #fffae3;
  --c-warning-text: #746000;
}

html.dark {
  --c-bg: #22272e;
  --c-header-box: #888;
  --c-text: #c8d1da;
  --c-header-dark: #c8d1da;
  --c-menu-title: #ebedef;
  --c-menu-under: #adbac7;
  --c-menu-select: #131111;
  --c-primary: #1890ff;
  --c-primary-shadow: #2431a25d;
  --c-box-shadow: rgb(16 17 26);
  --c-hj-c: #fff;
  --c-hj-b: #1c1b1b;
  --c-p-code: #080b0c;
  --c-p-code-b: rgba(136, 119, 119, 0.06);
  --c-button-bg: rgb(42 39 48);
  --c-button-border: rgb(24 22 29);
  --c-sidebar-b: #595a5b;
  --c-input: rgb(238 229 229 / 87%);
  --c-input-border: #faf5f563;
  --c-input-border-focus: #4392c7;
  --var-copy: url("../src/assets/copy-dark.png");
  --c-warning: #ceab00;
  --c-warning-bg: #7e755b;
  --c-warning-text: #362e00;
}

* {
  color: var(--c-text);
}

.hljs {
  color: var(--c-hj-c) !important;
  background: var(--c-hj-b) !important;
}

p code {
  margin: 0 1px;
  padding: 0.2em 0.4em;
  font-size: 0.9em;
  background: var(--c-p-code);
  border: 1px solid var(--c-p-code-b);
  border-radius: 3px;
}

.markdown-it-code-copy {
  position: absolute;
  top: 7.5px;
  right: 6px;
  cursor: pointer;
  outline: none;
  height: 20px;
  width: 20px;
}

.markdown-it-copy-image {
  height: 22px;
  width: 22px;
  background-size: 22px;
  background-image: var(--var-copy);
}

.warning {
  background-color: var(--c-warning-bg);
  border-color: var(--c-warning);
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
  padding: 20px;
  border-radius: 6px;
}

.warning p {
  background-color: var(--c-warning-bg);
  border-color: var(--c-warning);
  color: var(--c-warning-text);
}
