.main {
  padding: 40px 0 0;
  padding-top: 90px;
  background: var(--c-bg);
}

.row {
  display: flex;
  min-width: 0;
  flex-flow: wrap;
  overflow: hidden;
  position: fixed;
  top: 90px;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--c-bg);
}

.col5 {
  flex: 0 0 20.83333333%;
  max-width: 20.83333333%;
  overflow: auto;
  height: 100%;
}

.col19 {
  flex: 0 0 79.16666667%;
  max-width: 79.16666667%;
  overflow: auto;
  height: 100%;
}

.menu {
  border-right: 1px solid var(--c-sidebar-b);
}

.menuRoot {
  margin-bottom: 40px;
}

.itemTitle {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 13px;
  padding: 8px 16px;
  padding-left: 40px;
  color: var(--c-menu-title);
}

.itemTitle::after {
  position: relative;
  top: 12px;
  display: block;
  width: calc(100% - 20px);
  height: 1px;
  background: var(--c-menu-under);
  content: "";
}

.item {
  position: relative;
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
  padding-right: 16px;
  margin-bottom: 8px;
  margin-top: 4px;
  text-align: left;
}

.itemSelect {
  background-color: var(--c-menu-select);
}

.itemSelect a {
  color: var(--c-primary);
}

.item a::before {
  position: absolute;
  inset: 0;
  background-color: transparent;
  content: "";
}

.item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: 3px solid var(--c-primary);
  transform: scaleY(0.0001);
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: "";
}

.itemSelect::after {
  transform: scaleY(1);
  opacity: 1;
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.itemLink {
  text-decoration: none;
  background-color: transparent;
  color: var(--c-text);
  font-size: 14px;
}

.content {
  padding: 0 170px 32px 64px;
}

.content h1 {
  margin-top: 8px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 32px;
}

.content h2 {
  clear: both;
  margin: 1.6em 0 0.6em;
  font-weight: 500;
  font-size: 26px;
  line-height: 28px;
}

.content a {
  color: var(--c-primary);
}

.content button {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  border-color: var(--c-button-border);
  background-color: var(--c-button-bg);
}

.content input {
  margin: 0;
  max-width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  outline: 0;
  text-align: left;
  line-height: 1.21428571em;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 0.67857143em 1em;
  background: var(--c-bg);
  border: 1px solid var(--c-input-border);
  color: var(--c-input);
  border-radius: 0.28571429rem;
}

.content input:focus {
  border-color: var(--c-input-border-focus);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.content p {
  margin: 1em 0;
}

.content textarea {
  display: block;
  min-width: 20rem;
  font-size: 1.05rem;
  padding: 0.5em 1em 0.4em;
  border-radius: 4px;
  margin: 0.5rem 0;
  outline: none;
  background: var(--c-bg);
  color: var(--c-text);
  transition: background-color 0.5s;
  width: 200px;
  height: 200px;
}

.content button[disabled] {
  cursor: default;
  pointer-events: none;
  text-shadow: none;
  border-top: 0;
  opacity: 0.8;
}
